@mixin transition($prop, $ms, $easing) {
    -webkit-transition: $prop $ms+ms $easing;
    -moz-transition: $prop $ms+ms $easing;
    -ms-transition: $prop $ms+ms $easing;
    -o-transition: $prop $ms+ms $easing;
    transition: $prop $ms+ms $easing;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
}