$primary-dark:  #303F9F;
$primary:        #3F51B5;
$primary-light:  #C5CAE9;
$primary-text-light:   #FFFFFF;
$accent:         #607D8B;
$primary-text-dark:   #212121;
$secondary-text: #757575;
$divider:        #BDBDBD;

$dark-gray: #2D2D2D;