$font-main: 'Roboto', Helvetica, sans-serif;

html,body {
    font-size: 16px;
}


h1 {
    color: $primary-text-light;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    color: $primary-light;
    font-size: 1.4em;
    margin-bottom: 0.4em;
}